---js
{
  pagination: {
    data: "pages",
    size: 1,
    alias: "story",
    before: function(data) {
      return data.filter((entry) => entry.data.component === 'blog_article');
    },
    addAllPagesToCollections: true
  },
  permalink: "{{ story.permalink | slug }}/",
  tags: "article",
  layout: "layout.njk"
}
---

<h1>{{ story.name }}</h1>