 <div>
 {% if block.author.size > 1 %}
 Authors:
{% else %}
 Author
 {% endif %}
    <ul>
        {%- for person in block.author %}
        <li>
            
            {{ person }}
            
        </li>
        {%- endfor%}
    </ul>
</div>