---js
{
  pagination: {
    data: "pages",
    size: 1,
    alias: "story",
    before: function(data) {
      return data.filter((entry) => entry.data.component === 'page');
    },
    addAllPagesToCollections: true
  },
  permalink: "{{ story.permalink | slug }}/",
  tags: "page",
  layout: "layout.liquid"
}
---

<h1>{{ story.name }}</h1>
{% sb_blocks story.data.body %}